RewriteEngine On

# If the request is not an existing file or folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php
RewriteRule ^ index.php [QSA,L]
