@import "flowbite/src/themes/default";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@theme {
    --font-display: "Inter", "sans-serif";
    --color-primary: #04306a;
    --color-secondary: #5dc5ea;
    --color-third: #c1a469;
    /* ... */
  }
  @plugin "flowbite/plugin";
  @source "../node_modules/flowbite";